.automate {
    background: none;
    margin-bottom: 1.4rem;
    @media (max-width: $desktop-breakpoint) {
        margin-bottom: 4rem;
    }
}

.automate__content {
    margin-left: 1.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: $m-size;
    padding-top: $m-size;
    padding-left: 0;
    padding-right: $s-size;
    @media (max-width: $desktop-breakpoint) {
        padding: 0;
        margin: 0;
        //border: red 1px solid;
        width: 100%;
        padding-right: 0;
        justify-content: space-around;
    }

}

.text-box {
    margin-top: 10rem;
    padding-left: 0rem;
    margin-right: 11rem;
}

.text-box__title {
    @extend .t2;
    width: 36.5rem;
    height: 8.2rem;

}

.text-box__text {
    @extend .lp;
    width: 39.8rem;
    height: 10.4rem;
    margin-bottom: 2.2rem;
}

.image-box {
    margin-top: 2rem;
    margin-left: -3.5rem;
    img {
        width: 51.1rem;
    }
}
